.s {
  width: 10%;
  height: 10vh;
  margin: 20px 10px;
  /* border: 2px solid black; */
  border-radius: 10px;
  overflow: hidden;
}

.s-img {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 480px) {
  .s {
    width: 40%;
    height: 20vh;
  }
  .s-img {
    width: 50%;
    height: 50%;
  }
}
